<%- include("header",{element: element}); -%>
<style>

</style>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right align-item-center mt-2">
                <!-- <a href="#custom-modal" class="btn btn-info px-4 align-self-center report-btn" data-animation="blur"
                    data-plugin="custommodal" data-overlaycolor="#38414a">Add Center</a> -->
            </div>
            <h4 class="page-title mb-2"><i class="mdi mdi-monitor mr-2"></i>Discharged Patient List</h4>
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">District Covid Management</a></li>
                    <li class="breadcrumb-item active">Patient List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<%- include("header2"); -%>
<!-- Page Content-->
<div class="page-content" style="overflow: scroll;">
        <div class="container" style="overflow: scroll;">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Center</h4>
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive "
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Center ID</th>
                                    <th>Center Name</th>
                                    
                                    <th>Patient List</th>

                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td scope="col">ALL</td>
                                   <td><strong>All Centers</strong> </td>
                                   
                                    
                                    <td><a href="/dischargedpaitentlist"> See Patients</a></td>
                                    

                                </tr>
                                <% centers_list.forEach(element => {  %>
                                <tr>
                                    <td scope="col"><%= element.center_id%></td>
                                   <td><strong><%= element.facility_name%></strong> </td>
                                   
                                    
                                    <td><a href="d_patient_list/<%= element.center_id%>"> See Patients</a></td>
                                    

                                </tr>

                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

      

    </div><!-- container -->


</div>
<%- include("footer"); -%>