<%- include("header",{element: element}); -%>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right align-item-center mt-2">
                <!-- <a href="#custom-modal" class="btn btn-info px-4 align-self-center report-btn" data-animation="blur" data-plugin="custommodal" data-overlaycolor="#38414a">Add Center</a> -->
            </div>
            <h4 class="page-title mb-2"><i class="mdi mdi-monitor mr-2"></i>Section List</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">District Covid Management</a></li>
                    <li class="breadcrumb-item active">Section List</li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<%- include("header2"); -%>
            <!-- Page Content-->
            <div class="page-content" style="overflow: scroll;">
                    <div class="container" style="overflow: scroll;">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Center Occupancy</h4>
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Section Id</th>
                                            <th>Room Name</th>
                                           
                                            <th>Overall Bed</th>
                                            <th>Isolation Bed</th>
                                            <th>General Bed</th>
                                            <th>Oxygen Bed</th>
                                            <th>HDU Bed</th>
                                            <th>ICU Bed</th>
                                            <th>Ventilator_</th>
                                            <th>Hospital Email</th>
                                            <th>Hospital Phone</th>
                                            <th>Village</th>
                                            <th>Block</th>
                                            <th>Incharge Name</th>
                                            <th>Incharge Phone</th>
                                            <th>Section Floor</th>
                                            <th>Section Category</th>
                                            <th>Facility Details</th>
                                            <th>Patient List</th>
                                        </tr>
                                        </thead>
                                        
                                        <tbody>

                                            <% hospital_list.forEach(element => {  %>
                                                
                                                <tr>
                                                    <td><%= element.section.section_id%></td>
                                                    <td><%= element.section.room_name%></td>
                                                    <td><%= element.total_bed_occupied%> / <%= element.total_bed_available%></td>
                                                    <td><%= element.total_isolation_bed_occupied%> / <%= element.section.no_isolation_beds%></td>
                                                    <td><%= element.total_general_bed_occupied%> / <%= element.section.no_of_general_beds%></td>
                                                    <td><%= element.total_oxygen_bed_occupied%> / <%= element.section.no_of_oxygen_beds%></td>
                                                    <td><%= element.total_hdu_bed_occupied%> / <%= element.section.no_hdu_beds%></td>
                                                    <td><%= element.total_icu_bed_occupied+element.total_ventilator_bed_occupied%> / <%= element.section.no_of_icu_beds+element.section.no_of_ventilator_beds%></td>
                                                    <td><%= element.total_ventilator_bed_occupied%> / <%= element.section.no_of_ventilator_beds%></td> 
                                                    <td><%= element.hospital.email%></td> 
                                                    <td><%= element.hospital.telephone%></td> 
                                                    <td><%= element.hospital.village%></td> 
                                                    <td><%= element.hospital.block%></td>
                                                    <td><%= element.section.incharge_name%></td>
                                                    <td><%= element.section.telephone%></td>
                                                    <td><%= element.section.floor%></td>
                                                    <td><%= element.section.category%></td>
                                                    <td><%= element.hospital.center_id%> / <%= element.hospital.facility_name%> / <%= element.hospital.category%></td>
                                                    <td><a href="/s_patient_list/<%= element.section.section_id%>">Click Here</a></td>

                                                    
                                                   
                                                </tr>
                                                
                                            <% }) %>
                                        </tbody>
                                    </table>        
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div><!-- container -->

               
            </div>
<%- include("footer"); -%>
