<%- include("header",{element: element}); -%>


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right align-item-center mt-2">
                <a href="#custom-modal" class="btn btn-info px-4 align-self-center report-btn" data-animation="blur" data-plugin="custommodal" data-overlaycolor="#38414a">Add User</a>
            </div>
            <h4 class="page-title mb-2"><i class="mdi mdi-monitor mr-2"></i>Dashboard</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">District Covid Management</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<%- include("header2"); -%>
            <!-- Page Content-->
            <div class="page-content" style="overflow: scroll;">
                    <div class="container" style="overflow: scroll;">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Admin Users</h4>
                                    
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>User Id</th>
                                                    <th>Name</th>
                                                    <th>Work Place</th>
                                                    <th>Ph No</th>
                                                    <th>Department</th>
                                                    <th>Designation</th>
                                                    <th>User Name</th>
                                                    <th>Password</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users_list.forEach(element => { if(element.department=="ADMIN"){ %>
                                                    <tr>
                                                        <td><%= element.UserID%></td>
                                                        <td><%= element.name%></td> 
                                                        <td><%= element.workplace%></td> 
                                                        <td><%= element.phonenumber%></td> 
                                                        <td><%= element.department%></td> 
                                                        <td><%= element.designation%></td> 
                                                        <td><%= element.username%></td> 
                                                        <td><%= element.save_pass%></td>
                                                    </tr>
                                                <% }}) %>
                                               
                                                <!-- <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>XYZ@Example.com</td>
                                                    <td><span class="badge badge-boxed  badge-warning">Personal</span>
                                                    </td>
                                                </tr> -->
                                                
                                            </tbody>
                                        </table>
                                        <!--end /table-->
                                    </div>
                                    <!--end /tableresponsive-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div> <!-- end col -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">COVID CELL DEPARTMENT</h4>
                                     <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>User Id</th>
                                                    <th>Name</th>
                                                    <th>Work Place</th>
                                                    <th>Ph No</th>
                                                    <th>Department</th>
                                                    <th>Designation</th>
                                                    <th>User Name</th>
                                                    <th>Password</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users_list.forEach(element => { if(element.department=="COVID_CELL"){ %>
                                                    <tr>
                                                        <td><%= element.UserID%></td>
                                                        <td><%= element.name%></td> 
                                                        <td><%= element.workplace%></td> 
                                                        <td><%= element.phonenumber%></td> 
                                                        <td><%= element.department%></td> 
                                                        <td><%= element.designation%></td> 
                                                        <td><%= element.username%></td> 
                                                        <td><%= element.save_pass%></td>
                                                    </tr>
                                                <% }}) %>
                                               
                                                <!-- <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>XYZ@Example.com</td>
                                                    <td><span class="badge badge-boxed  badge-warning">Personal</span>
                                                    </td>
                                                </tr> -->
                                                
                                            </tbody>
                                        </table>
                                        <!--end /table-->
                                    </div>
                                    <!--end /tableresponsive-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div> <!-- end col -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
    
                                    <h4 class="mt-0 header-title">CENTER DATA OFFICER LIST</h4>
                                    
    
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                                <tr>
                                                    <th>User Id</th>
                                                    <th>Name</th>
                                                    <th>Work Place</th>
                                                    <th>Ph No</th>
                                                    <th>Department</th>
                                                    <th>Designation</th>
                                                    <th>User Name</th>
                                                    <th>Password</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users_list.forEach(element => { if(element.department=="CENTER_DO"){ %>
                                                    <tr>
                                                        <td><%= element.UserID%></td>
                                                        <td><%= element.name%></td> 
                                                        <td><%= element.workplace%></td> 
                                                        <td><%= element.phonenumber%></td> 
                                                        <td><%= element.department%></td> 
                                                        <td><%= element.designation%></td> 
                                                        <td><%= element.username%></td> 
                                                        <td><%= element.save_pass%></td>
                                                    </tr>
                                                <% }}) %>
                                               
                                                <!-- <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>XYZ@Example.com</td>
                                                    <td><span class="badge badge-boxed  badge-warning">Personal</span>
                                                    </td>
                                                </tr> -->
                                                
                                            </tbody>
                                        </table>
                                        <!--end /table-->
                                    </div>
                                    <!--end /tableresponsive-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div id="custom-modal" class="modal-demo">
                        <button type="button" class="close" onclick="Custombox.modal.close();"><span>×</span><span
                                class="sr-only">Close</span></button>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Add User</h4>
                                <p class="text-muted mb-4"></p>
                                <form action="/signup" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">User Name</label>
                                        <input type="email" class="form-control"  name="username"  placeholder="Enter Email" required>
                                    </div>
                                    <div class="form-group"> 
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control"  name="password" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name</label>
                                        <input type="text" class="form-control" name="name" placeholder="Enter Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Department</label> 
                                        <select class="form-control" name="department" required>
                                            <option value="">Select</option>
                                            <option value="COVID_CELL">COVID CELL</option>
                                            <option value="ADMIN">ADMIN</option>
                                            <option value="CENTER_DO">CENTER_DO</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Work Place / Center Id</label>
                                        <select list="centers_list" type="text" class="form-control" name="workplace" placeholder="Enter Work Place" required>
                                        <datalist id="centers_list">
                                            <option value="">Select</option>
                                            <option value="COVID_CELL">Covid Cell</option>
                                            <% centers_list.forEach(element => { %>
                                                <option value="<%= element.center_id %>">
                                                    <br><%= element.center_id%> 
                                                    <br><%= element.facility_name%> 
                                                    <br><%= element.category%>
                                                <br><%= element.village%> 
                                                <br><%= element.block%></option>

                                            <% }) %>
                                        </datalist>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Designation</label>
                                        <input type="text" class="form-control"  name="designation" placeholder="Enter Designation">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Phone Number</label>
                                        <input type="number" class="form-control" name="phonenumber" placeholder="Enter Phone Number">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <!--end card-body-->
                        </div>
                    </div>


                </div><!-- container -->

            </div>
<%- include("footer"); -%>
